#root {
  /* max-width: 5000px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
body{
  background: url(../image/City\ Buildings\ HD\ Wallpaper\ 38.jpg) no-repeat center center;
}
